<%inherit file="base.html"/>

<%block name="title">Scenes</%block>

        <h1>ConstructionAR - Scenes</h1>
		<div class="table-container">
			<table class="table table-hover">
				<thead>
					<tr>
						<th></th>
						<th>Name</th>
						<th>Progress</th>
					</tr>
				</thead>
				<tbody>
					% for scene in scenes:
						<tr>
							<td><img src="/scenes/${scene.name}.PNG" height="40" /></td>
							<td style="width: 100%"><a href="/scene?id=${scene.id}">${scene.name}</a></td>
							<td>${scene.getCheckedObjectCount()} / ${scene.getObjectCount()} </td>
						</tr>
					% endfor
				</tbody>
			</table>
		</div>